<div class="container m-4 p-4">
  <h1 class="text-3xl mb-5">Countries App</h1>
  <p class="mb-3 text-cyan-800"><a href="/localidad/1">Localidad 1</a></p>
  <p class="mb-3 text-cyan-800"><a href="/localidad/2">Localidad 2</a></p>
  <p class="mb-3 text-cyan-800"><a href="/localidad/3">Localidad 3</a></p>
  <p class="mb-3 text-cyan-800"><a href="/localidad/4">Localidad 4</a></p>
  <p class="mb-3 text-cyan-800"><a href="/localidad/5">Localidad 5</a></p>
  <p class="mb-3 text-cyan-800"><a href="/localidad/6">Localidad 6</a></p>
  <p class="mb-3 text-cyan-800"><a href="/localidad/7">Localidad 7</a></p>
  <p class="mb-3 text-cyan-800"><a href="/localidad/8">Localidad 8</a></p>
</div>
